<section class="fix-img bg-gra-01">
  <div class="page-wrapper p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-login" style=" background-image: url(<%= asset_path "bg-heading-02.jpg" %>)"></div>
                <div class="card-body">
                    <h2 class="title center-text">Log In</h2>

                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="input-group">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input--style-3",placeholder:"Email"%>
                      </div>

                      <div class="input-group ">
                        <%= f.password_field :password, autocomplete: "current-password",class: "input--style-3",placeholder:"Password" %>
                      </div>

                      <% if devise_mapping.rememberable? %>
                        <div class="input-group border-none">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me,class:"" %>
                        </div>
                      <% end %>

                      <div class="actions ">
                        <%= f.submit "Log In",class:"btn--access btn--pill btn--green" %>
                      </div>
                    <% end %>

                    <%= render "devise/shared/links" %>

                </div>
            </div>
        </div>
    </div>
</section>

