
<div class="card-bodiess">
  
  <%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.text_field :title , class: "input--style-3",placeholder:"Title"%>
  </div>

  <div class="input-group">
    
    <%= form.number_field :rate, min: 1, max: 5 , class: "input--style-3",placeholder:"Rate" %>
  </div>

  <div class="input-group">
    
    <%= form.text_field :description , class: "input--style-3",placeholder:"Description" %>
  </div>


  
    <%= form.hidden_field :book_id , class: "input--style-3",placeholder:"Description" %>


    <div class="actions">
      <%= form.submit%>
      
    </div>
    
  <% end %>

</div>